[2014-05-15 20:00] tibee opened #1 "History plugin misconfigured"
Hello!

In ScrollPager.php on line 336-338:

[code]

I think it is a typo, should be:

[code]

[2014-06-06 20:42] #1 closed, assigned to kop

[2014-06-06 21:07] kop opened #2 "Update plugin to version 2.1.1"
Use the latest plugin version.

[2014-06-06 21:08] #2 closed, assigned to kop

[2014-06-06 21:24] kop opened #3 "Configure codeclimate.com integration"
Code Climate consolidates the results from a suite of static analysis tools into a single, real-time report, giving your team the information it needs to identify hotspots, evaluate new approaches, and improve code quality.

[2014-06-06 21:34] #3 closed, assigned to kop

[2014-06-06 21:37] kop opened #4 "Configure scrutinizer-ci.com integration"
Code quality management is a continuous process – unfortunately, it cannot be done once and forgot about. Scrutinizer takes the pain away and helps you make code quality management part of your development workflow. Make your developers happy and your customers even happier.

[2014-06-06 21:51] #4 closed, assigned to kop

[2014-06-06 21:51] kop opened #5 "Configure versioneye.com integration"
VersionEye is a cross-platform search engine for free/libre/open source software libraries. Currently we track more than 325K free/libre/open source libraries from Java, Ruby, Python, Node.JS, PHP, JavaScript, Objective-C, R and Clojure. Soon we will add .NET, Perl and other languages.

[2014-06-06 22:03] #5 closed, assigned to kop

[2014-06-06 22:04] kop opened #6 "Add packagist and license badges"
Add badges for packagist.org and license.

[2014-06-06 22:04] #6 closed, assigned to kop

[2014-06-06 23:03] kop opened #7 "Configure automated testing"
Configure Codeception tests.

[2014-06-06 23:03] #7 closed, assigned to kop

[2014-06-06 23:04] kop opened #8 "Configure travis-ci.org integration"
Configure CI server.

[2014-06-06 23:07] #8 closed, assigned to kop

[2014-06-24 08:07] alexweb-zz opened #9 "Cant make it work"
1) Inserted widget this way:

[code]

At the end of the page appears "Load more items". But it doesnt load more items automatically when I scroll. Loads more items only when I click that link.

[2014-07-11 13:24] Jonnaayy opened #10 "Work with severall ListViews"
Hello, I have a view with 2 list views. For example, ListView1 has only one page and the ListView2.

1 - The link "Load More" goes under the ListView1 and not to ListView2.
2 - It's needed 2 clicks on "Load More" to make it, and while it's loading it creates 2 spinners, so I think it's loading results to the 2 Listviews.
I think the problem is on `itemOptions` because it has the same value `item`

[2014-07-29 22:38] #9 closed, assigned to kop

[2014-07-29 23:48] kop opened #11 "Use jQuery IAS plugin from composer"
jQuery IAS plugin has been added to composer. Use it in debug mode instead of saved file.

[2014-07-29 23:50] kop opened #12 "Refactor extensions and events registration code"
Extensions and events registration code is duplicated too much. It can be simplified a lot.

[2014-07-29 23:51] #11 closed, assigned to kop

[2014-07-29 23:51] #12 closed, assigned to kop

[2014-07-31 07:36] alexweb-zz opened #13 "Error after update"
An exception appears after update: Invalid Configuration – yii\base\InvalidConfigException
Extension IASPagingExtension requires extensions to be enabled.

Please check your \kop\y2sp\ScrollPager::checkEnabledExtensions() method.
Probably it should look like this?

[code]

[2014-07-31 10:11] #13 closed, assigned to kop

[2014-08-05 09:19] alexweb-zz opened #14 "ScrollPager::EXTENSION_SPINNER is not working after update"
ScrollPager::EXTENSION_SPINNER is not working after update. Spinner doesn't appear.
Check the line 281 in \kop\y2sp\ScrollPager - there should be

[code]

[2014-08-05 09:36] #14 closed, assigned to kop

[2014-08-06 15:04] Skizito opened #15 "Gridview Pager"
Hi, does this pager work with Gridview? Because I've tried and the gridview is limited to the default 20, but doesn't show the load more button like it should.

[2014-09-06 22:33] drawlusyk opened #16 "select2 dropdown in 'itemView' => not working after initial page."
Hello,

$openExams = ArrayHelper::map(Exams::find()->asArray()->all(), 'id', 'name');
I pass $openExams in listview config
'viewParams' => ['openExams' => $openExams,

When using default pager it works, when i enable
'class' => \kop\y2sp\ScrollPager::className(),

only the first page of items shows the select2 dropdown and then i am left with the default arrow loading spinner for any further items

[2014-09-18 22:49] #16 closed, assigned to nobody

[2014-09-25 08:08] alexweb-zz opened #17 "Is it possible to show or hide spinner manually?"
I'm using Spinner extension. It shows spinner when data is loading and removes it after data is loaded.
But is it possible to manually call show() or hide() spinner?
(I use it with Masonry and Imagesloaded and want to hide spinner when images are loaded, not when data is received)

[2014-09-25 09:45] #17 closed, assigned to nobody

[2014-10-14 11:26] vyegres opened #18 "Two types of initialization"
Scroll-pager has two types of init.

1) implemented
var ias = jQuery.ias({});

2) not  implemented
var ias = $('#overflow').ias({});

The second type used on example http://infiniteajaxscroll.com/examples/overflow.html

Without this method  auto load work incorrectly. It work after end page, but not after end container.

[2014-10-20 09:03] #10 closed, assigned to kop

[2014-10-20 09:21] #18 closed, assigned to kop

[2014-10-23 13:13] gephaest opened #19 "Autoupdating $summary"
Hi! Thanks for nice extension!
I think it would be cool if tokens [from $summary](http://www.yiiframework.com/doc-2.0/yii-widgets-baselistview.html#$summary-detail) prop autoupdating (optional).

[2014-11-13 21:39] cshehadi opened #20 "Not possible to use multiple pager instances on one page"
Hi,

Thanks for creating this widget.  It's been a big help.  But I'm running into an issue when it's used with a ListView Widget that's embedded in tabs.  The behavior I get is that I have to click once for each tab.  (so if there are three tabs, I have to click three times).  On the last click, the new data loads - and I see a separate spinner for each tab while the data is loading.  So the tabs

[2014-12-03 06:27] Faisal-dynamologic opened #21 "Problem using yii2-scroll-pager"
i am getting Undefined variable: dataProvider; can you help me to sort of this issue. my code is given below.

[code]

[2014-12-03 10:09] #21 closed, assigned to kop

[2014-12-04 10:02] puppyceceyoyo opened #22 "can i use this extension with normal div displayed data and how?"
i have a div that inside has a lot of data, can i use this extension to have a link to load more data instead of show one time in whole one long page.

Thanks.

[2014-12-07 20:36] #22 closed, assigned to kop

[2014-12-25 11:35] msajidali opened #23 "Extension showing number not spinner in ajax call"
Thanks for developing this widget.
I used this extension , this working fine, but when I use this extension in ajax call , the infinite scroller are not binding with result, only first page are displaying , while next pages come in in number format and not do automatically scrolling.
Please help me in this regard

[2015-01-24 09:32] derah04 opened #24 "Undefined variable: dataProvider"
whats wrong ?
I found this error ..
(Undefined variable: dataProvider )

[2015-02-11 18:53] n1k88 commented on #24
It is not an error from extension. You need data for display from controller. http://www.yiiframework.com/doc-2.0/yii-data-activedataprovider.html

[2015-02-15 11:55] kop commented on #24
@derah04, data you provided is not enough for understanding of your problem. Please add more details about the error. Thank you.

[2015-02-15 11:58] #15 closed

[2015-02-15 12:18] #24 closed

[2015-02-25 13:33] nik4152 opened #26 "duplicate records"
VIEW
-----------------------------------------------------------------------------------------
[code]
----------------------------------------------------------------------------------------

CONTROLLER
-----------------------------------------------------------------------------------------
[code]
----------------------------------------------------------------------------------
there were duplic

[2015-02-25 13:44] nik4152 commented on #26
if
[code]
all good
I do not know where the error
![Image of Yaktocat]
(http://s018.radikal.ru/i522/1502/d3/9d80ad5a5645.png)

[2015-02-25 14:59] nik4152 commented on #26
Auto uploading works incorrectly when you click okay.
How to disable it?

[2015-02-25 15:08] nik4152 commented on #26
[code]
## button without such a result <h2>
![Screen]
(http://s018.radikal.ru/i514/1502/ab/17587add60b7.png)

[2015-02-26 02:05] nik4152 commented on #26
Когда страница загружается, подгружается автоматически 1 запрос а второй копия, его дальше появляется кнопка подгрузить. Их или убрать что бы автоматом не грузились или где то поправить код.

[2015-02-26 02:43] derah04 commented on #24
Im say sorry before, I dont understand to use this extention ..
Can you see me the example web or web file that use this extention ?

Thank you

[2015-02-26 02:44] ghost opened #27 "Not understand"
Im say sorry before, I dont understand to use this extention ..
Can you see me the example web or web file that use this extention ?

Thank you

[2015-02-28 13:10] golles opened #28 "Dutch (nl) translation"
messages/nl/global.php:
[code]

[2015-03-01 11:04] kop commented on #28
Thanks, added.

[2015-03-01 11:04] #28 closed

[2015-03-03 21:19] all2001 commented on #26
Can you post your '_view_item' file? Here is mine:
[code]

And I have the seem issue. I have found that the problem in these lines and if I delete them, the problem disappears:
[code]
And what if I need 2-column content?

[2015-03-08 15:46] hamidire commented on #26
I had the same problem, and this solved my problem....
echo ListView::widget([
                'dataProvider' => $provider,
                'itemOptions' => ['class' => 'item'],
                'itemView' => '_view_item',
                'pager' => [
                    'class' => \kop\y2sp\ScrollPager::className(),
                    'triggerText' => 'Завантажити більше записів',

[2015-03-10 17:51] all2001 commented on #26
Thanks, removing this line partially solves the issue:
`'itemOptions' => ['class' => 'item'],`
But how to use it with scroll-pager paginator? Standart paginator works fine, but still need button 'Load more' or smth like this..

[2015-03-14 09:44] philippfrenzel commented on #26
sorry, this doesn't fix the issue
I use your code, but I get a complete "duplicate of all records using this workaround!

[2015-03-15 18:22] nik4152 commented on #26
http://infiniteajaxscroll.com/ this plug-connected, a few minutes setting, and everything works

[2015-03-24 12:19] mohdbashir opened #29 "Showing duplicate records"
I am using the below code

<?php
      echo ListView::widget([
        'dataProvider' => $dataProvider,
        'itemOptions' => ['class' => 'item'],
        'itemView' => '_find_view',
          'pager' => ['class' => \kop\y2sp\ScrollPager::className(),
              'noneLeftText'=>'',
                    'triggerOffset'=>0,
                    'negativeMargin'=>1,
              ]
        ]);

[2015-03-24 12:27] philippfrenzel commented on #29
Have the same issue, but it seems like you can fix it with a html "id" container workaround... look closed issues... never got it to work, so maybe there is a better way to solve it?

[2015-03-25 05:34] mohdbashir commented on #29
my _find_view.php

<div id="right-sidebar">
    <span class="img"><img src="<?php echo $model->deal_image[0];  ?>" /></span>
    <span class="discount"><?php echo $model->discount ?>% OFF</span>
    <span class="desc"><?php echo $model->deal_title ?><br />
    <strong><a href="#"><?php echo $model->source ?></a> | Expires <?php echo date( 'F j, Y', strtotime( $model->expires_on )) ?> | Created <?p

[2015-04-07 13:12] usualdesigner opened #30 "IAS Events are not working"
Looks like events doesn't works if they were defined in the pagination widget. https://github.com/kop/yii2-scroll-pager/blob/master/ScrollPager.php#L320

[2015-05-10 17:40] con322 commented on #17
I am trying to implement this with masonry however I am having trouble loading new items and then getting the masonry to execute again, any chance you could help?

[2015-05-10 18:00] con322 opened #32 "Is it possible to remove ?page=2&per-page=10 from URL?"
Is it possible to remove the page number and per page option from URL?

As it seems to be conflicting with my ajax (alternatively how should I change my ajax)

    $(document).ready(function() {
    $('a.btnsolid-sm').click(function() {
        var Id = jQuery(this).attr('id');
        $.ajax({
            type: 'POST',
            data: {
                'modal_id' : Id,
            },

[2015-05-17 00:10] con322 opened #33 "How can I use it with masonry so when new item are loaded masonry initialised again?"
I see within plugin events you have eventOnLoaded, eventOnRender and eventOnRendered however am I dont know how to use these within the code to apply the masonry append function.

Thanks.

[2015-05-17 06:46] philippfrenzel commented on #33
I'll send an sample later today... You need the additional plugin which allows refresh;)

[2015-05-20 00:41] con322 commented on #33
Hi any update on sample or link to ? What additional plugin is required?

[2015-05-20 06:23] philippfrenzel commented on #33
Here is my code:
[code]
But due to some issues with this scroll pager I switched to
darkcs ... - But only as I wanna run it with my masonry plugin...

Here the full code:

[code]

[2015-06-23 18:56] usualdesigner commented on #32
Just disable EXTENSION_HISTORY

[2015-07-06 23:07] abdelhady opened #34 "eventOnLoaded throws js error when loading newer content"
I'm trying to use `eventOnLoaded` to register a javascript function to be run after loading new content from server, I'm using it like this:
[code]
where `renderStars()` is a javascript function to render rating stars, it works fine with refreshing the page which loads the initial content, but when scrolling down to load more content, it throws this javascript error:

in `callbacks.js:31`, I've al

[2015-07-08 21:01] spiner commented on #34
Me too. :( "Uncaught TypeError: Cannot read property 'apply' of undefined" after new items are loaded.

[2015-07-16 07:00] hightman commented on #19
@gephaest you can customize it via `eventOnLoaded`

[2015-07-16 12:58] roro15 opened #35 "AssetBundle init"
Pls, move initializing from init method to there definition in class. Need to replace $sourcePath in config via $assetManager->bundles to use fork of jquery-ias, (http://www.yiiframework.com/doc-2.0/yii-web-assetmanager.html#$bundles-detail), but its not possible, till sourcepath defines in init method.

[2015-07-27 00:32] gomonkey opened #36 "Not display results"
Hello, Everythig working but I have a problem with results.
When I click on the button, the second page is called but the results are not printed on the screen.
how is possible?

[2015-07-27 00:48] gomonkey commented on #36
resolved, I just inseted 'item'=>'.mySelector'

[2015-07-28 07:58] xiaomalover opened #37 "Uncaught TypeError: jQuery.ias is not a function"
Uncaught TypeError: jQuery.ias is not a function ?  why?

[2015-07-29 04:49] #37 closed

[2015-07-30 13:13] iadj opened #38 "New items dont display on scroll, have to click 'Load More Items'"
My listview doesn't display new items when scrolling to the last element. I have to click 'Load More Items' in order to load the next page.

This is my ListView:

    echo ListView::widget([
                               'dataProvider' => $newitems,
                               'itemOptions' => ['class' => 'col-sm-4 featured-item'],
                               'itemView' => '_item',

[2015-07-30 13:21] iadj commented on #38
`triggerOffset' sets the amount of times for the scrolling to work. The default is `0` and must be set to a higher value for new items to be loaded on scroll.

[2015-07-30 13:21] #38 closed

[2015-08-13 19:24] #36 closed

[2015-08-13 20:21] #35 closed

[2015-08-13 20:34] kop commented on #32
It seems like question is answered. Thanks @usualdesigner.

[2015-08-13 20:34] #32 closed

[2015-08-13 20:51] kop commented on #30
Link you gave is a declaration of event dependencies (some events are from the extensions), however you are right, events are broken.

My assumption is that the [problem is here](https://github.com/kop/yii2-scroll-pager/blob/2.2.4/ScrollPager.php#L406).

I don't know maybe it was me reading the IAS docs wrong, or events API changed, but currently events are registered with:

[code]

While accordin

[2015-08-13 20:52] kop commented on #34
See this issue for a proposed solution https://github.com/kop/yii2-scroll-pager/issues/30.

[2015-08-13 20:52] #34 closed

[2015-08-13 20:54] kop commented on #33
There are currently an issue with IAS events exist, that's why Masonry is not working. Please see the corresponding issue https://github.com/kop/yii2-scroll-pager/issues/30.

[2015-08-13 20:54] #33 closed

[2015-08-13 20:58] kop commented on #27
I believe that example in readme is pretty much self-explanatory. What exact problem do you have?

[2015-09-26 12:11] xiaomalover opened #40 "data display unnormal"
when load more than one page, the url will change like "page=2", and now if we refresh, can only display the last page data ,and can't go back to first page,

[2015-09-29 20:31] kop commented on #40
Hi @xiaomalover.

Thank you for finding this issue. It's a serious one.

The problem is caused because of IAS extension "History" enabled by default. The best you can do is just to disable it by defining your pager as follows:

[code]

I'm not really sure that it will be a good idea to fix it in the extension code, as it may break existing deployments. But I will make necessary changes in the next

[2015-09-30 03:50] xiaomalover commented on #40
It's very kind of you.

[2015-09-30 03:51] xiaomalover commented on #40
Hi @kop.

Thank you very much.

[2015-10-12 15:21] hooman-pro opened #41 "use this ext in this ext"
hi i try to load this widget inside of view file for my post and comments
post:

[code]

comments: in the  'itemView' => '_view' file

[code]
but it set the second one config for first one and dont show load more button

[2015-10-14 15:56] kop commented on #41
I'm not really sure about this one. But try to update ListView widget in your comments file and set different ID's for ListView and pager widgets. Cause right now both your listview and pagers have the same `'comments'.$model->id` ID.

[2015-10-19 12:22] sandy0201 commented on #40
Hi,

I tried defining my pager as the above code, it doesn't seem to fix the problem.
My problem is similar to xiaomalover's. I have a page which uses the scroll pager, when a user clicks on a button, it posts data via ajax so the page doesn't refresh, I use jQuery to load the updated content in a container. For example: $('#student-side .container-inner').load(window.location.href + ' .user-oppor

[2015-10-19 12:28] kop commented on #40
@sandy0201, I don't really understand why you are using jQuery here? Scroll pager itself is loading everything via AJAX.

[2015-10-19 12:33] sandy0201 commented on #40
@kop, I'm using jQuery because by default, the button that users can click to apply or revoke an application refreshes the page, but we don't want it to refresh the page so we decided to use ajax to post the data and not refresh the page. Once a user apply for an application, an alert message shows but only when the page is refreshed, therefore we decided to reload the content of one part of the c

[2015-10-19 12:43] kop commented on #40
@sandy0201 I got it now. Well, I don't really know what is causing plugin to stop working. Maybe it have different ID after new rendering. Or, maybe, it just loses JavaScript events attached. The best thing I can recommend is to use Pjax container for your needs and see does it work. Or, if you will find a reason why it gets broken after Ajax request, I will be happy to accept a PR.

[2015-10-19 14:45] sandy0201 commented on #40
@kop is there any way to re-attach the JavaScript events? Like is there any JavaScript function I can call to re-attach the Scroll Pager events to make it work?

[2015-10-19 14:55] kop commented on #40
@sandy0201 Well, you can try to reinit scroll plugin itself and remove old events. But it's better to ask such sort of questions in the original repo https://github.com/webcreate/infinite-ajax-scroll, as it's not related to this PHP package.

[2015-10-30 04:41] hitesh2088 opened #44 "There is load more click changes Url but not the containt of list view"
I have use the pager and list view widget with your extension but while clicking on load more it changes the url but the containt remains the same not loading more items...
view code
[code]

The data provider in controller send data with below code
[code]

[2015-10-30 14:33] hitesh2088 commented on #20
I am also facing the same problem is there any solution for this issue yet

[2015-10-31 22:53] nsanden opened #45 "Scroll down then hit refresh. Page stays on ?page=4&per-page=5"

[2015-11-20 13:00] nidhie2logy opened #46 "Load More Button not showing"
Hello,

I have used scroll pager and pageSize is 1 and i have 5 records but after click on show more button second record shown and after that button is disappear.
My code is below:

[code]

Please Help.

THanks

[2015-11-22 01:49] pliszka commented on #46
Same problem I copy paste the readme.md example but it's not working. After the Load more "button" was clicked once it's not showing up any more once you reload page.

[2015-11-22 13:30] pliszka commented on #46
found a work around:

[code]

Total working example:
[code]

For me this issue is connected with the trigger of Load more items button, it's appeasr only if the page could scroll down to the bottom so if you hit load more and this download less elements that actually could expand the page to have the scroll bar this is not showing.

[2015-11-23 02:01] pliszka opened #47 "Integrate with Pjax and Activ filters ( correct "reinitialize" after Pjax reload ListView )"
# Some code

I'm working with ListView widget with some Pjax reload feature as follow:

[code]
## Full code
[code]
# Steps to reproduce this problem

* open the page
* select some filters and applay them
* the listview is rebuild via Pjax
* now the "Load more items" is missing
* go to console and write
[code]
or
[code]
or
[code]

[2015-11-23 05:13] nidhie2logy commented on #46
Thanks this fix work for me but summary is not updating.its still showing Showing 1-1 of 5 items

[2015-12-02 10:23] hphuoclam commented on #20
Help

[2015-12-02 10:46] hitesh2088 commented on #20
There is solution for it
where you can use linkmanager widgets from yii2 and assign ur next page button to load more and then you can load the next containt in the listview wrapper

[2015-12-04 11:36] IvoPereira opened #48 "Reverse Infinite Scroll Feature"
Hello,

Do you have anything planned for such a feature?

Something like replicating the Facebook Messages system. Basically, instead of triggering the event on scrolling down, it would trigger it on scrolling up.

Thanks

[2015-12-05 12:11] kop commented on #48
@IvoPereira, this question is not to me. This package is based on https://github.com/webcreate/infinite-ajax-scroll, so it supports only features that are present in this plugin :)

[2015-12-11 17:27] #48 closed

[2015-12-22 18:15] masiha68 commented on #45
hi ... i have this isuue ... how i can fixed

[2015-12-30 07:18] masiha68 opened #49 "List View displays 3 for nested"
Thanks for creating this widget...
i want show 3 listView on a page
 can i do?
file :show_all_memorys

[code]

in file :_memorysItem

[code]

[2016-01-07 18:45] MetaCrawler opened #50 "Malformed UTF-8 characters, possibly incorrectly encoded"
Hi,

As soon as I try to implement the scroll-pager I receive error:
Malformed UTF-8 characters, possibly incorrectly encoded

The log tells me the error is thrown by:
yiisoft\yii2\helpers\BaseJson.php

Caused in:
kop\yii2-scroll-pager\ScrollPager.php
Line 380 - 387:

// Register extension
$options = json::encode($options);

More Information:
- Everything in the view (where I'm testing the scroll-

[2016-01-19 07:38] rajanmidd opened #51 "Star widget on yii2 scroll pager"
Hello All,
Please help me on this.

I am using the yii2 scroll pagination and in the pagination use the ListView::widget.

when i scroll the page a button shows names as "load more " when i click on that link it load the items but rating start is not showing. Can you please help me on this.

[2016-01-25 12:50] fbarrento opened #52 "Hide the url with pjax"
How can we hide the url when using yii2-scroll-pager with pjax?

[2016-01-25 12:58] fbarrento commented on #52
Just disable the EXTENSION_HISTORY.

'pager' => [
                  'class' => ScrollPager::className(),
                  'triggerText' => Yii::t('content', 'Load more +'),
                  'triggerTemplate' => '<div class="ias-trigger col-xs-12" style="text-align: center; cursor: pointer;"><a class="btn btn-default btn-sm">{text}</a></div>',
                  'enabledExtensions' => [

[2016-01-25 12:58] #52 closed

[2016-01-25 13:12] fbarrento commented on #47
The same

[2016-01-28 14:18] MetaCrawler commented on #50
Gave it another try today and found the problem:

German translation file:
yii2-scroll-pager/messages/de/general.php

Line 4:
`
'Load more items' => 'Weitere eintr�ge laden',
`
Should be:
`
'Load more items' => 'Weitere einträge laden',
`

[2016-01-28 14:18] #50 closed

[2016-01-29 14:43] jeesus opened #53 "Pagination issue in Ajax loaded modals"
Hey

I'm displaying Yii2's ListView inside a Bootstrap Modal and the content is loaded via Ajax. The problem is in pagination: sometimes it loades correctly, sometimes it loads all the results instead of displaying the load more button and sometimes it shows the load more button even if the result total is less than needed for pagination.

This is my code:
`echo ListView::widget([
     'dataProvid

[2016-02-03 11:28] sasiarjun opened #54 "Spinner not showing after enabled Extensions"
Below is my code but when scrolling spinner image not coming
[code]

Please help me to fix this issue?

[2016-02-05 10:54] sasiarjunan opened #55 "Bootstrap popover not working after scrolled"
I showing content in bootstrap popover row, after i scrolled to second or thrid page bootstrap popover not working,
[code]

[code]

Please help to fix this?

[2016-03-02 20:33] gomonkey commented on #32
how to disable EXTENSION_HISTORY ?

[2016-03-08 06:31] nibinpaul commented on #45
i have same problem.

[2016-03-08 07:03] masiha68 commented on #45
remove history extension

   public $enabledExtensions = [
        self::EXTENSION_TRIGGER,
        self::EXTENSION_SPINNER,
        self::EXTENSION_NONE_LEFT,
        self::EXTENSION_PAGING,
       // self::EXTENSION_HISTORY
    ];

[2016-03-10 06:52] sazonov-dev opened #57 "How to change action to rquest data?"
Hi, how i can change action to request data?
For example:
Widget showing on /category/view, but i'm need to get data from /category/products action. When i'm update widget from ajax - firs page loaded from /category/products, but on scroll gets products prom /category/view =(

RU: Написал на английском как смог. На всякий случай пишу на русском: как подменить экшн? Изначально виджет появляется на

[2016-03-10 17:54] nibinpaul commented on #45
Thank you @masiha68 .
it works.

[2016-03-15 18:28] Wingee commented on #20
I'm having the same problem. Does anybody have a solution!?

[2016-03-16 04:52] hitesh2088 commented on #20
check out this one

[Same type of issue ](https://github.com/webcreate/infinite-ajax-scroll/issues/93#issuecomment-177846326)

[2016-03-21 12:22] robert589 opened #58 "Pjax is not working with loaded item"
After i click load more item button, then i perform some pjax operations, it won't work
anyone has the same problem with me?

[2016-03-28 09:15] TsarS opened #59 "How to switch on eventOnScroll?"
Thanks for widget.
How can i load images on scroll down? Should i use eventOnScroll?
but where?

`   <?php echo ListView::widget([
     'dataProvider' => $dataProvider,
     'itemOptions' => ['class' => '.item','negativeMargin'=>'20'],
     'itemView' => '_item_view',
     'pager' => ['class' => ScrollPager::className(),
     'negativeMargin' => '200',
    'triggerText' => 'Load More news',
    't

[2016-03-28 09:32] #59 closed

[2016-03-28 11:53] TsarS commented on #55
The same problem but with modal

[2016-03-29 00:08] kop commented on #46
@nidhie2logy, sorry for the late response.

I've tested code given for you and it works just fine (after I've added missing `'itemOptions' => ['class' => 'item']` option).

I'm unable to reproduce this bug, so I suppose it's something related to your exact markup.

As for auto-updating $summary, it's not implemented yet and is tracked in #19.

[2016-03-29 00:08] #46 closed

[2016-03-29 00:10] #27 closed

[2016-03-29 00:27] #30 closed

[2016-03-29 00:37] kop commented on #44
Hi @hitesh2088, and sorry for late response.

Your problem is invalid usage. You changed list view container class from `.list-view` to `.list-wrapper`.
You now need to let ScrollPager know about this change:

[code]

[2016-03-29 00:37] #44 closed

[2016-03-29 00:44] kop commented on #45
This is duplicate of #40.

[2016-03-29 00:44] #45 closed

[2016-03-29 00:48] kop commented on #54
Hi @sasiarjun, and sorry for late response.

The problem with your code is that values in `enabledExtensions` option are PHP constants, not strings.

So, instead of:

[code]

Use this:

[code]

And everything will work.

[2016-03-29 00:48] #54 closed

[2016-03-29 00:58] kop commented on #57
Hi @sazonov-dev, and sorry for the late response.

Yes, this is possible. ScrollPager is using `Pagination` object from your `$dataProvider`, so after data provider is created, use this technique to change pagination URI:

[code]

Please see framework docs for details:
http://www.yiiframework.com/doc-2.0/yii-data-pagination.html#$route-detail

[2016-03-29 00:58] #57 closed

[2016-03-29 02:04] kop commented on #20
@hitesh2088 is right, that's a known bug in the underlying library. No solution found so far.

[2016-03-29 02:04] kop commented on #49
Hi @masiha68, sorry for the late response.

Having multiple instances of this widget on one page is currently not possible due to the bug in the underlying jQuery plugin. See #20 for details.

[2016-03-29 02:04] #49 closed

[2016-03-29 02:59] kop commented on #41
Is a duplicate of #20.

[2016-03-29 02:59] #41 closed

[2016-03-31 07:40] whmemon opened #61 "Does not work in tabs"
Firstly, I must appreciate efforts to make this extension.

I am using it with TabsX. getting problem with TabsX because it does not loads separate for each tab.

the spinner and "load more items" and "You reached the end" are printed on 1st tab only.

[2016-03-31 09:16] TsarS opened #62 "Does not work on hosting"
I'm using

    `<?php
          echo ListView::widget([
        'dataProvider' => $dataProvider,
        'itemOptions' => ['class' => '.item'],
        'itemView' => '_item_view',
        'pager' => ['class' => ScrollPager::className(),
            'enabledExtensions' => [
                ScrollPager::EXTENSION_TRIGGER => 1000,
                ScrollPager::EXTENSION_PAGING,
                ScrollP

[2016-03-31 16:32] kop commented on #62
Hi @TsarS.

I strongly believe that our issue is not related to this extension and is related to your app configuration.
If Yii says `http://example.com/web/site/index?page=2&per-page=6` not found, it's something wrong with URL manager.

[2016-03-31 16:32] #62 closed

[2016-03-31 16:34] kop commented on #61
@whmemon, do you mean you have different list views in different tabs?

[2016-03-31 16:35] kop commented on #55
Hi guys, thanks for reporting. I'm aware of this issue and it will be fixed in the next release.

[2016-04-01 03:22] whmemon commented on #61
yes exactly.

--
Waseem Hassan

On Thu, Mar 31, 2016 at 9:34 PM, Ivan Koptiev <notifications@github.com>
wrote:

[2016-04-01 09:12] kop commented on #61
@whmemon, see #20. It's not possible to use multiple pager instances on the same page for now.

[2016-04-01 09:12] #61 closed

[2016-04-14 14:17] temirfe opened #64 "Yii2 Scroll Pager with overflow scroll"
i have the same question as in [here](http://stackoverflow.com/questions/25045168/yii2-scroll-pager-with-overflow-scroll)
"when you set the scroll for a div, instead of the whole screen, ajax is not loading any additional items when you scroll down."
I tried to use `overflowContainer` but with no luck.

[2016-04-20 14:23] evgeny-shestakov opened #65 "several widgets on page"
I have a problem with trigger button when I use several widgets on page. buttons integrated at first widget selector and behaving strangely.

[2016-04-20 14:48] kop commented on #65
Duplicate of #20.

[2016-04-20 14:48] #65 closed

[2016-05-03 21:00] sazonov-dev commented on #57
Hi @kop , tnx for ur answer

[2016-05-09 07:09] mramdhani opened #66 "yii2 scroll pager without gridview or listview"
can i using yii2 scroll pager without gridview or listview? give me an example please.

[2016-05-12 18:01] kop commented on #66
@mramdhani, you can simply use http://infiniteajaxscroll.com/ JavaScript plugin.

[2016-05-17 05:36] dhara15101991 opened #67 "Getting TypeError: this.list[i].fn is undefined on ajax load"
This is my code

`<?php Pjax::begin(['id' => 'property-list', 'linkSelector' => false, 'timeout' => false, 'enablePushState' => true]); ?>
<?=
ListView::widget([
    'dataProvider' => $dataProvider,
    'id' => 'proprtyData',
    'layout' => "{items}{pager}",
    'itemView' => '_view',
    'itemOptions' => ['class' => 'item'],
    // 'beforeAjaxUpdate'=>"function(id,data){ $('#loader').show();}",

[2016-06-01 07:39] yogeshphp-alkurn opened #69 "Loading same items : on click load more items link"
**This is my code:**

$record = Contents::find();
$provider = new ActiveDataProvider([
            'query' => $record,
            'pagination' => [
                'pageSize' => 6,
            ],
        ]);
return $this->render('articles', [
            'dataProvider' => $provider,
        ]);

Any help?

[2016-06-03 11:41] nomaan-alkurn opened #70 "How can I pass a extra parameter in pagination url?"
Hello @kop

I'm facing some problem passing an extra paramter in pagination. It works perfectly without extra parameter.

For ex.
http://yii-advanced.dev/article?page=2&per-page=6&category=1

Any suggestion to figure it out.

[2016-06-07 21:36] iadj opened #71 "Scroller hides pagination menu on non-scroller ListView on same page"
I have 2 ListViews. One with ScrollPager and another one in a sidebar.
I set the Scroll Pager for one ListView, but now the pagination on the other ListView automatically gets a "style='display:none;'" property on the pagination menu. This shouldn't happen.

[2016-06-15 08:23] thompalstra commented on #47
Has there been any solution to this issue?

[2016-06-27 13:20] casinho opened #72 "Loaded Iteams having display:none"
I`m using this exentsion with a ListView

`echo ListView::widget([
	'dataProvider' 	=> $dataProvider,
	'id'			=> 'kategorieView',
    'itemOptions' 	=> ['class' => 'itemKategorie'],
    'itemView' 		=> '_startseiteKategorie',
	'viewParams'	=> ['aktuelleWettbewerbId'=>$aktuelleWettbewerbId],
	'layout'		=> "{items}\n{pager}",
    'pager' 		=> [
    	'class' => ScrollPager::className(),
    	'contain

[2016-07-15 12:26] panchenkodv commented on #58
Same problem. No solution.

[2016-07-16 19:38] indeveler commented on #40
@kop Thank you for solution of history problem!
Is there a plan how to fix it in future?
ps I love your extension!

[2016-07-16 20:10] kop commented on #40
@indeveler, yes, it will be fixed soon. I'm having a vacation right now, but after return, I'm planning to release a new major version with some refactoring and fixes for the most annoying issues.

[2016-07-17 10:52] TsarS opened #74 "Duplicate records from another category"
i'm using ScrollPager
` <?php
                echo ListView::widget([
                    'dataProvider' => $dataProvider,
                    'itemOptions' => ['class' => '.item'],
                    'itemView' => '_item_view',
                    'pager' => ['class' => ScrollPager::className(),
                        'enabledExtensions' => [
                            ScrollPager::EXTENSION_T

[2016-09-02 17:10] #70 closed

[2016-09-21 16:59] chate052 opened #75 "How to autoload when scroll without click the link?"
I  set the Scroll Pager for ListView. It's work but I need to autoload next page same to Facebook when scroll without click the link ("Load more Items").

[2016-10-03 06:23] stenleegunz commented on #47
Hello, u can use scrollPager.reinitialize(); before pjax success http://stackoverflow.com/questions/21679655/jquery-pjax-ajax-success-function

[2016-10-05 12:53] niksib opened #76 ""Load more items" button works only 1 time"
![image](https://cloud.githubusercontent.com/assets/13890155/19113625/46862cf8-8b13-11e6-8203-78fc8953b0c8.png)
Dont show "Load more" button in ListView
![image](https://cloud.githubusercontent.com/assets/13890155/19113603/2c4bda72-8b13-11e6-8c63-152bc0e22925.png)

view file
[code]
Controller
[code]

[2016-10-31 16:38] bmrbehnam commented on #75
whats is solution !?

[2016-11-14 08:22] maxlyaptsev opened #77 "layout does not work"

[2016-11-18 04:40] riyaskp commented on #37
I am getting the same error.Could you find the solution?

[2016-11-19 03:43] riyaskp opened #78 "Uncaught TypeError: jQuery.ias is not a function"
When I tried list view I am getting the above error.

[2016-12-06 05:29] ak868308 commented on #58
What kind of pjax action you want. Means if you are using some plugins then you must need to re-initialize them.
Did you tried with this option
`'eventOnRendered' => "function(){ reinitialize your pjax }`
Hope this should be work

[2016-12-06 07:18] ak868308 commented on #20
Used widget two times on same page then it loads data but recursively shows the same result
suppose page size is 10 and records are also 10 when scrolling it shows the same content
please help

[2016-12-06 07:34] ak868308 commented on #71
Try this

`'pager' => [
                        'id' => 'firstListViewPager',
                        'options'=> ['style'=> 'display:block !important']
]`

[2016-12-17 15:09] ak868308 opened #79 "Unable to generate SEO friendly URL"
Hi,
Greate extension I like it.
Here I am facing some issues with SEO friendly URL. can you please help me how I can create SEO friendly pagination URL. I already defined rules for that but not working
Here is my rule
`search-products/<page:\d+>' => 'product/search,`
this generating the URL abc.com/search-products?page=2
But I want like this
abc.com/search-products/2

Thanks

[2017-01-07 11:13] pptyasar opened #80 "_item_view not found"
_item_view not found find when using ListView

`echo ListView::widget([
     'dataProvider' => $dataProvider,
     'itemOptions' => ['class' => 'item'],
     'itemView' => '_item_view',
     'pager' => ['class' => \kop\y2sp\ScrollPager::className()]
]);`

[2017-01-23 12:10] giovaANTO commented on #26
Are you using Page / Fragment Caching in your controller or view?

[2017-01-23 12:27] nik4152 commented on #26
sorry i don't use this module now

[2017-02-10 14:48] maxxer commented on #20
@kop could you be more specific on what issue on the library? Is there a bug upstream? thanks

[2017-03-20 15:58] ivanmfan commented on #51
++

[2017-03-21 10:38] rajansahota commented on #75
I have set the triggerOffset 3 , but i need on every scroll record without click on "load more items"

pls help

[2017-03-21 10:39] rajansahota opened #81 "need a every scroll on record without click on "load more items""
I have set the triggerOffset 3 , but i need a every scroll on record without click on "load more items"

pls help

[2017-03-23 11:12] rachidaitmallouk commented on #46
<?=
                    ListView::widget([
                      'dataProvider' => $proData,
                       'itemView' => '_post',
                       'summary'=>'',
                       'pager' => [
                      'class' => \kop\y2sp\ScrollPager::className(),
                      'eventOnRendered' => 'function() {window.setTimeout(function() {$(window).scroll();}, 500);}',

[2017-03-27 01:03] roanvanbao commented on #81
I have the same problem! Anyone help?

[2017-04-26 08:37] jasonhai commented on #81
The same with me, anybody can help us to resolve this ticket?

Here is my code:

<?= ListView::widget([
                                'dataProvider' => $dataProvider,
                                'itemOptions' => ['class' => 'item'],
                                'itemView' => '_view_category',
                                'summary' => '',
                                'pager' => [

[2017-05-12 07:08] dungphanxuan opened #83 "How to set auto load data ( not must click then load data)"
![image](https://cloud.githubusercontent.com/assets/10725732/25987043/7f5f247a-371c-11e7-95db-35f6bbb760ec.png)

[2017-05-12 07:39] dungphanxuan commented on #83
i set 'enabledExtensions'=> ['IASSpinnerExtension'], so it work

[2017-05-12 07:39] #83 closed

[2017-05-18 12:15] uktamovdilshod commented on #81
<?php
                echo \yii\widgets\ListView::widget([
                    'dataProvider' => $dataProvider,
                    'itemView' => '_item',
                    'pager' => [
                        'class' => \kop\y2sp\ScrollPager::className(),
                        'triggerOffset'=>10000000,
                        'enabledExtensions' => ['EXTENSION_HISTORY' => false],

[2017-05-18 12:17] uktamovdilshod commented on #80
you must create __item_view.php

[2017-06-19 01:57] Amr-alshroof commented on #72
i do have the same issue

[2017-06-27 09:26] martrix78 commented on #76
Та же самая ерунда.
Один раз срабатывает и пропадает :(

[2017-07-09 23:37] omer-sds opened #84 "PJAX pushState fails"
i am using `ListView` widget with this plugin and i set `enablePushState=false` for Pjax and i have a thumbnail script [nailthumb](http://www.garralab.com/nailthumb.php) which generates the thumbnails for the listings ,I used php to make the javascript call statements and then load them on page load to generate the thumbnails, it works perfect with pjax but as soon as i start using the loadmore pl

[2017-07-20 20:20] #84 closed

[2017-07-20 20:25] omer-sds commented on #51
hi @ivanmfan  and @rajanmidd  you can use the following approach to load star rating after page load , add the following option inside the `pager` option in the list view

`
'eventOnRendered' => new \yii\web\JsExpression ( 'function(){var optVar = $("your_target_input_object_or_selector").attr("data-krajee-rating");options = window[optVar];$("your_target_input_object_or_selector").rating(options);

[2017-07-20 20:38] omer-sds commented on #40
this one seems to be fixed i am using list view with the following setting for the scroller
[code]

[2017-07-20 20:56] omer-sds opened #85 "Multiple instances of scroller not working"
multiple instances of the scroller are not working i am using yii tabs widget and rendring 2 different views inside both of the tabs but the first tab has the pager loaded , and working whereas the second tab doesnot show load more button

i am loading the tabs like this

[code]

_properties.php

[code]

_reviews.php

[code]

[2017-08-07 15:55] shayanhusaini commented on #81
set 'enabledExtensions'=> ['IASSpinnerExtension'],

[2017-09-03 21:32] nicdnepr commented on #64
@temirfe did you solve this?

[2017-09-04 21:30] omer-sds commented on #64
can you please share your code and output html

[2017-09-04 21:37] omer-sds commented on #64
is used the following setting to initialize with ListView and it works fine , one thing a=if you want infinite scroll throughut then use $dataprovider->getTotalCount() for the triggerOffset propoerty

[code]

[2017-09-05 08:05] nicdnepr commented on #64
I use Gridview with default layout, with pager with param overflowContainer => '#w3'
[code]
and pager not catch div overflow scroll, only catch global window scroll

[2017-10-24 09:16] FanGremlin opened #86 "bad work positioning block on first load"
I have problems on first load page with scroll-pager
![blog](https://user-images.githubusercontent.com/31305964/31931346-9bfb37a2-b8ab-11e7-8441-9e1f8fe1b97a.jpg)

I suspect that this situation is due to the fact that the script runs before the download of pictures
script registration is in progress
         $ this-> view-> registerJs ($ initString, View :: POS_READY, "{$ this-> id} _ias_main");
a

[2017-10-24 10:27] peter0o opened #87 "not being triggered after pjax call"

[2017-11-06 12:32] omer-sds commented on #87
can you provide more description to your problem as i am using the infinite scroll with pjax and it works perfect here it is http://potentialpads.idowstech.com/properties/grid

[2017-11-06 12:34] omer-sds commented on #86
i am using in the listing gallery too but didnt come across this problem see here a demo
http://potentialpads.idowstech.com/properties/grid, can you add a link to your current page you are working on

[2017-11-10 19:37] peter0o commented on #87
Hi,

kindly note that in this website you are reloading the page on each filter
submit. In  my case the filter is also ajax call

On Mon, Nov 6, 2017 at 2:32 PM, Omer Aslam <notifications@github.com> wrote:

[2017-12-05 12:41] bilginnet commented on #45
I need to changing address bar after scroll.
if i disabled HISTORY address bar does not changing.
if i enabled HISTORY address bar changing but previos data does not showing.
How can i fix this ?

[2017-12-05 12:41] bilginnet commented on #40
I need to changing address bar after scroll.
if i disabled HISTORY address bar does not changing.
if i enabled HISTORY address bar changing but previos data does not showing.
How can i fix this ?

[2017-12-13 06:17] #79 closed

[2018-01-09 10:02] bilginnet opened #88 "it doesnt work after scroll in mobile chrome app"
it works on samsung internet browser
but does not work on mobile chrome app

i tried this code, but same error
[code]
my code:

[code]

[2018-02-01 03:16] luckyalexandr opened #89 "How disable changing address?"
First thanks for this extension. Easy and beautiful.
But i can't find how deny they add page\per-page parameters to the link in address bar.
My code with Pjax:
`<?php Pjax::begin([
    'id' => 'productList',
    'enablePushState' => false,
    'enableReplaceState' => false,
]); ?>
<?= ListView::widget([
    'dataProvider' => $dataProvider,
    'itemView' => '_view',
    'itemOptions' => ['class' =

[2018-02-21 17:33] sni10 commented on #30
Фиксили фиксили а ни нихера не пофиксили. Молодцы!

[2018-05-21 08:18] kimhongn89 commented on #89
I need to disable it too. Do we have any setting for this options

[2018-05-21 08:26] kimhongn89 commented on #89
Hi luckyalexandr,
I had find solution for this issue. Just disable ScrollPager::EXTENSION_HISTORY
          'pager'        => [
              'class'           => \kop\y2sp\ScrollPager::className(),
              'enabledExtensions' => [
                  ScrollPager::EXTENSION_TRIGGER,
                  ScrollPager::EXTENSION_SPINNER,
                  ScrollPager::EXTENSION_NONE_LEFT,

[2018-05-21 09:39] kimhongn89 commented on #85
I have the same issue when using it in multiple listview, it just worked with one

[2018-06-26 22:02] byndstd opened #91 "yii2-scroll-pager not working after pjax reload"
I'm using scroll pager for my web ; and I'm using pjax for my form
after I submit my form and reload my yii2 scroll pager it not working if I click on : load more items.
when my content is submited and the listview is reloaded the Load more items not working

the is my code for my list view :
`<?php Pjax::begin(['id' => 'post-list']) ?>
				<?= ListView::widget([
					'dataProvider' => $dataProvid

[2018-06-28 18:53] patpwilly commented on #81
'triggerOffset'=>$dataProvider->totalCount/$dataProvider->pagination->pageSize,

[2018-06-28 18:56] patpwilly commented on #75
'triggerOffset'=>$dataProvider->totalCount/$dataProvider->pagination->pageSize,

[2018-07-02 09:42] tumdav opened #92 "yii2 scroll pager duplicates spinner after pjax"
When I'm using Yii2 pjax after each action (E.G  sorting table) spinner is duplicating

[2018-07-23 10:15] Raven0us commented on #19
[code]

[code]

Not the fastest solution, though.

[2018-07-31 04:54] crimson-med commented on #76
I have the same problem here when using a listview

[2018-08-20 09:09] ashik1729 opened #93 "Cant'enable extension"
'enabledExtensions' => [
                                'EXTENSION_TRIGGER'=> true,
                                  'EXTENSION_HISTORY' => false,
                                'EXTENSION_PAGING'=>true,
                                'EXTENSION_SPINNER'=>true,

                                ],

i get the error

![kop-screenshot](https://user-images.githubusercontent.com/6406564/44331333-e04

[2018-10-30 13:36] dianastanciu commented on #76
I have the same issue. Any fix?

[2018-10-30 13:41] crimson-med commented on #76
No I haven't found any fixes I just load a lot of data straight

On Tue, 30 Oct 2018, 21:38 Diana, <notifications@github.com> wrote:

[2018-12-12 13:44] byndstd opened #94 "kop scroll-pager not working on mobile"
I'm using this extension on my Yii2 web and it's working on PC in all browsers but not working on android  tablet and mobile. On android it's not display "show more" but if I have content less than pager size it display "You reached the end", that mean it's working only if I have no content to load,
my code is :
`<?= ListView::widget([
	'dataProvider' => $dataProvider,
		'summary'=>'',
		'viewPara

[2019-01-10 18:05] Romagod commented on #26
i fixed this problem.
notice the array index "item".
i inspected Html code and found pagination buttons.
I copied the 'next' button selector and paste in array and it's work!

`ListView::widget([
            'dataProvider' => $dataProvider,
            'id' => 'i_notifications_id',
            'itemView' => '_item',
            'pager' => [
                'class' => ScrollPager::className(),

[2019-01-31 10:13] nicdnepr opened #95 "save state refresh"
I have such structure
[code]
I refresh gridview by pjax
After refresh gridview it resets own scroll position to top and load first page
How can I save scroll position and loaded paging pages?

[2019-04-15 10:12] cristiandelpasqua commented on #51
$script =<<<JS
    jQuery.ias().on('rendered', function(items) {
        $(".rating-widget").attr("data-krajee-rating"); // rating-widget given class to rating widget
        options = window[optVar];
        $(".rating-widget").rating(options);
    });
JS;
$this->registerJs($script);

[2019-04-15 10:14] hiteshjangid commented on #51
[code]

[2019-04-30 12:38] rohanmashiyava commented on #85
Not working. @kop  Can you please update us on this how we can achieve this or what exactly the culprit is. If you can guide me through here and allow me fork I can do the rest changes.

[2019-04-30 20:08] kop opened #96 "Looking for Collaborators"
Hello everyone. Original author of this plugin here.

I'm not working with Yii and PHP for years already but I see that this plugin is used by community and I don't want to block updates and further development.

If someone is willing to help with further development and become a Collaborator or new Maintainer, please leave a comment here.

Thank you!

[2019-05-29 10:22] Pilot1604 opened #97 "No text and code insertion to the back link"
no parameters to load previous items
[this](https://infiniteajaxscroll.com/docs/extension-trigger.html#textprev)
[this](https://infiniteajaxscroll.com/docs/extension-trigger.html#htmlprev)

[2019-07-02 13:18] sofq3 opened #98 "Не показывается кнопка."
На ПК всё работает нормально. Но при уменьшении разрешения (планшеты и телефоны) кнопка "загрузить ещё" пропадает. Опытным путем выяснил, что дело в высоте контента. т.е. если убрать часть контента сверху она появляется.

[2019-07-03 08:23] #98 closed

[2019-10-08 06:52] pasupathy commented on #26
these two listview with separate classes works

echo \yii\widgets\ListView::widget([
    'dataProvider' => $productsInfoDataProvider,
    'options' => ['class' => 'list-view'],
    'itemOptions' => ['class' => 'list-group-item item', ],
    'itemView' => '_managemenuitems',
    'layout' => ' <div class="list-group">{items}</div><div class="pager">{pager}</div>',
    'pager' => [
        'class' =>

[2019-10-11 07:00] #92 closed

[2020-01-07 13:29] Androphin commented on #96
It seems like the license of the used AJAX jQuery plugin changed.
They also changed their Github repo, so the dependency in composer.json isn't valid anymore.

I'm thinking about participating as a Collab, but doesn't make the new license of the plugin mentioned above this extension difficult to use?
Hence, an own implementation of it or of an alternative plugin providing the same functionality wo

[2020-01-07 21:14] buttflattery commented on #81
this should be closed as the comment from @patpwilly explains the logic

[2020-02-06 03:31] desenvolvedorindie commented on #76
'overflowContainer' => '.element',

Element that lib should consider to check scroll

[2020-03-21 19:15] nicdnepr commented on #91
Did you solve it?

[2020-03-22 12:40] nicdnepr commented on #87
Did you solve this?

[2020-03-27 10:50] SplendornetTech opened #102 "Issue with kartik-editablegrid"
Hi,
First off all, great extension, makes life far easy for many yii developers. Kudos to you.
I am using Kartik-editable grid with it's own pjax event like below

GridView::widget([
            'dataProvider' => $dataProvider,
            'filterModel' => $searchModel,
            'pjax' => true,
            'pager' => [
                'class' => \kop\y2sp\ScrollPager::className(),

[2020-03-28 11:37] SplendornetTech commented on #19
Here is further improwised version of the above code.

function updateSummary(res) {
    var startNumber= $('.summary').text();
    startNumber = startNumber.split(' ');
    startNumber = startNumber[1].split('-');
    startNumber = startNumber[0];
    let query = ".summary:eq(0)";
    let forgedDom = $($.parseHTML(res));
    let newSummary = forgedDom.find(query);
    var newSummaryText= newSumma

[2020-03-31 09:26] viplike opened #103 "infinite load of the last page"
to prevent this issue use such a config:
`
'next' => '.page-item.next:not(".disabled") a',
`

[2020-05-13 04:50] SplendornetTech opened #104 "Issue with pjax and filters"
When the scroll happens, for the next set of rows fetched, the filters applied are not getting honored. Any fixes available for this?

[2020-05-13 05:24] SplendornetTech commented on #104
to give more details, my URL has something like
/dispatch-index?oa_number=&status=&DispatchOaTypeSearch%5Boadetails_ld_date%5D=&oa_type=&DispatchOaTypeSearch%5Bproduct_line_id%5D=&DispatchOaTypeSearch%5Bcust_id%5D=TRF&DispatchOaTypeSearch%5Bcust_po_number%5D=&DispatchOaTypeSearch%5Bcust_po_date%5D=&DispatchOaTypeSearch%5Bdelivery_date%5D=&DispatchOaTypeSearch%5Bgrand_total%5D=&DispatchOaTypeSearch

[2020-06-21 04:38] compugator2 commented on #103
That did not work for me.  I am using a Gridview and that last page just keeps loading whenever I scroll to the bottom.  That fix just keeps it from scrolling at all.

[2020-07-08 07:50] mdanylchak opened #106 "Parse error."
Got this error after a new build of my project.
Looks like missing comma.
Screenshots attached.
<img width="1327" alt="Знімок екрана 2020-07-08 о 10 49 41" src="https://user-images.githubusercontent.com/54984393/86892306-c196b500-c108-11ea-8e13-4ac902163eed.png">

[2020-07-08 07:52] #106 closed

[2020-07-10 07:19] buttflattery opened #107 "Syntax error in translation file"
Hello a recent update caused this bug

which is because of a missing comma `,` after the second key=>value pair declared in the mentioned file

[code]

[2020-07-10 07:55] onmotion commented on #107
Hi.
Fixed in #106
Please try to update

[2020-07-10 09:13] #107 closed, assigned to nobody

[2020-07-24 02:23] compugator2 opened #108 "Scroll trigger on main Gridview tr"
I have a Gridview and inside the Gridview item there is another table.  The item seems to keep triggering on the internal table tr instead of the main Gridview tr.  Is there more documentation on how to implement the item setting?

[2020-09-10 07:12] hassanuos commented on #69
same happening to me.

`{base_url}user/data?start=Invalid+date&end=Invalid+date&dp-1-page=4`

The last parameter dep-1-page=4 should be page=4. I don't know how to replace it in the source code.

[2021-01-12 20:54] vifus opened #110 "Load previous items not working"
When I scroll down list of products (on mobile) for example to second page and I enter to product from second page next I back to products list (URL: products?page=3&per-page=12) and i have products only from second page. I need show button "Load previous items". What Im doing wrong?

my code

		$this->widget['data']['dataProvider'] = [
			'dataProvider' => $dataProvider,
			'itemView' => $this->w

[2021-05-04 06:44] akshaymisal27 opened #111 "Auto loading error"
I am using grid view scroll pager. I want to **load new items automatically**. But here I need to scroll from top whenever I wish to load new items.
Please guide me for same.
My Code
[code]

[2021-05-04 07:16] akshaymisal27 commented on #111
@onmotion Can you please check

[2021-05-04 11:25] #111 closed, assigned to nobody

[2021-05-04 12:37] akshaymisal27 opened #112 "Page Summary and Grouping not working"
I have implemented page-scroller. But it not reflecting **page summary and group** after first page.
Please guide me.
My Code
[code]

[2021-05-04 12:38] akshaymisal27 commented on #112
@kop @onmotion Can you please check

[2021-05-04 17:45] akula222 commented on #102
тоже проблема с катриком

[2021-05-06 10:36] akshaymisal27 commented on #19
Hello, is there any solution for the same problem in **gridview**
@SplendornetTech @Raven0us

[2021-05-08 07:21] Umashankarsaw opened #113 "ExpandRowColumn not working with ScrollPager"
I have this below code and when I click to expand the row then its working for first page and when its scroll down and when load the next page onward then expand not working.
I have this code

  [[<?php
            echo GridView::widget([
                "dataProvider" => $dataProvider,
                "filterSelector" => "select[name='per-page']",
                'floatHeader' => true,

[2021-05-08 13:22] LandDevTeam commented on #102
Hey
@SplendornetTech did you get any solution??
I am stack same kind of issue.
Thanks in advance.

[2021-05-08 13:23] akula222 commented on #102
+++++++++++++++++++++++++++

[2021-05-08 13:30] LandDevTeam commented on #102
Do you want to say something??

[2021-05-08 19:46] strtob opened #114 "Error: Setting unknown property: kop\y2sp\ScrollPager::linkContainerOptions"
Hi,

My project use a kartik gridview, I've configured the gridview according to the manuel, unfortunately I get this error:

Setting unknown property: kop\y2sp\ScrollPager::linkContainerOptions

Thanks a lot for any ideas.

BR,
Toby

[2021-05-08 23:02] akula222 commented on #102
yii2-scroll-pager and kartik\grid\EditableColumn problem :(

[2021-05-13 06:23] akshaymisal27 commented on #64
@nicdnepr Did you find any solution for this?

[2021-05-13 07:46] temirfe commented on #64
I'm sorry but it seems like Yii2 is slowly dying, consider switching to Laravel or smth.  I'm thinking of switching to one of this alternatives: react or vue for frontend, node(expressjs) or python(django) for backend.

[2021-05-15 00:37] strtob commented on #114
This is from the gridview source:

`$isBs4 = $this->isBs4();
        if ($isBs4) {
            Html::addCssClass($this->options, 'kv-grid-bs4');
            $this->setPagerOptionClass('linkContainerOptions', 'page-item');
            $this->setPagerOptionClass('linkOptions', 'page-link');
            $this->setPagerOptionClass('disabledListItemSubTagOptions', 'page-link');
        }`

can this be

[2021-07-06 14:38] blakadm commented on #114
// 'bsVersion' => '4.x',
remove bsVersion in params.php. Worked on  my project.

[2021-08-06 07:11] strtob commented on #114
ok, is there a version for bs4?

[2021-09-23 02:36] amtz2000 commented on #51
I have fixed this problem.
according "omer-sds commented on 21 Jul 2017" answer that we could maybe fix one time in instance but Multiple instances.
so here the deal.

<script>
var optVar = $(".rating-loading").attr("data-krajee-rating");
 options = window[optVar];
$(".rating-loading").rating(options);
</script>

put this code after the starRating widget like this :

 <?php echo StarRating::widget

[2021-11-03 11:18] yinhedot commented on #78
refer to : [https://stackoverflow.com/questions/23779374/jquery-ias-infinite-scrolling-packery-iascallbacks-is-not-defined](https://stackoverflow.com/questions/23779374/jquery-ias-infinite-scrolling-packery-iascallbacks-is-not-defined)

js file :  <https://raw.githubusercontent.com/webcreate/infinite-ajax-scroll/2.x/src/callbacks.js>

[2021-11-03 11:18] yinhedot commented on #37
refer to : [https://stackoverflow.com/questions/23779374/jquery-ias-infinite-scrolling-packery-iascallbacks-is-not-defined](https://stackoverflow.com/questions/23779374/jquery-ias-infinite-scrolling-packery-iascallbacks-is-not-defined)

js file :  <https://raw.githubusercontent.com/webcreate/infinite-ajax-scroll/2.x/src/callbacks.js>

[2021-12-06 13:01] ExpandXSoln commented on #102
Yes there is a solution available to this, check my comments on the kartik editable grid git issue list for the similar issue reported there too

[2022-03-29 08:55] Daizygod commented on #110
same problem, in README texted for attribute "historyPrev" - "Make sure there is only one element that matches the selector.", but it not help

[2022-10-21 06:57] uktamovdilshod commented on #20
Hi guys.  It is my code. It worded.
in one page

[2022-10-21 06:58] uktamovdilshod commented on #20
Hi guys. It is my code. It worded on one page.

[2022-10-21 07:00] uktamovdilshod commented on #20
Hi guys. It is my code. It worded on one page.
`
<div class="list_1 reminder-list">
                    <?= ListView::widget([
                        'dataProvider' => $todayReminders,
                        'itemOptions' => ['class' => 'item_1 d-flex w-100 pt-2 pb-2 border-top',],
                        'itemView' => function ($model) {
                            return $this->render('_list_r

[2022-10-21 07:01] uktamovdilshod commented on #20
Hi guys. It is my code. It worded on one page.
  <?= ListView::widget([
                        'dataProvider' => $overdueReminders,
                        'itemOptions' => ['class' => 'item_3 d-flex w-100 pt-2 pb-2 border-top',],
                        'itemView' => function ($model) {
                            return $this->render('_list_reminder', ['model' => $model, 'type' => 3]);

[2022-10-21 07:05] uktamovdilshod commented on #20
Hi guys. My code worked.
<pre>
<div class="list_1">
             <?= ListView::widget([
                        'dataProvider' => $todayReminders,
                        'itemOptions' => ['class' => 'item_1',],
                        'itemView' => function ($model) {
                            return $this->render('_list_reminder', ['model' => $model, 'type' => 1]);
                        },

[2022-10-21 07:15] uktamovdilshod commented on #20
Hi guys. My code worked.
[code]

[2022-11-16 12:36] Durga-Devi-arch opened #115 "when initial load its requesting 2 ajax calls"
For testing purpose, i have set limit 5 records only..
Now i load that page, those 5 records are displaying through activity-review-log. It means index?page=1.
Then again fetching index?page=2. there are no records, so that appending no results found row also..
why again requesting page=2